@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Passion+One&family=Work+Sans:ital,wght@1,500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Srisakdi:wght@700&display=swap");

:root {
  --fonte1: Verdana, Geneva, Tahoma, sans-serif;
  --fonte2: "Passion One", cursive;
  --fonte3: "Srisakdi", cursive;
}

* {
  margin: 0px;
  padding: 0px;
}

html,
body {
  min-height: 100%vh;
  background-color: darkgray;
  font-family: var(--fonte1);
}

header {
  background-image: url("../imagens/pngwing.com.png");
  background-position: center center;
  background-size: 60%;
  background-attachment: cover;
  background-repeat: no-repeat;
  background-color: darkgrey;
  color: green;
  text-align: center;
}

header > h1 {
  padding-top: 50px;
  font-variant: small-caps;
  font-family: var(--fonte2);
  font-size: 6vw;
}

header > p {
  padding-bottom: 50px;
}

a {
  font-size: 2vw;
  color: white;
  text-decoration: none;
  font-weight: bolder;
}

a:hover {
  text-decoration: underline;
}

section {
  padding-top: 5vh;
  padding-bottom: 5vh;
  line-height: 2em;
  padding-left: 30px;
  font-size: 2vw;
  font-family: var(--fonte3);
}

section.normal {
  background-color: white;
  color: black;
}

section.imagem {
  background-color: dimgray;
  color: white;
  box-shadow: inset 4px 4px 8px 0px black;
  background-attachment: fixed;
}

section.imagem > p {
  display: inline-block;
  padding: 3px;
  background-color: rgba(0, 0, 0, 0.253);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.255);
  text-shadow: 1px 1px 0px black;
}

section#img001 {
  background-image: url("../imagens/background001.jpg");
  background-position: right center;
  background-size: cover;
}

section#img002 {
  background-image: url("../imagens/background002.jpg");
  background-size: cover;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
}
footer a {
  font-size: 1vw;
  color: white;
  text-decoration: none;
  font-weight: bolder;
}
